<!--Short introduction and guide for the website-->

{% extends 'template.html' %}
{% block title %}About{% endblock %}

{% block content %}
<div class="container">
  <div class="row">
    <div class="col-lg-12">
      <h2>The ultimate music collection</h2>
      <hr>
      <p>Melody is an online music library, where you can access all your favorite tunes in one place.</p>
      <p>To access the library, you must first create an account and login. After logging in, you may access the library through the navigation bar.</p>
      <p>In the library, you will see groups of cards, each representing an album. You can change how the cards are grouped with the "Group by:" button on the top right of the page. Click on "View album" on the card for more details on the album, and
        more importantly, the album's songs.On the album page, you can mouseover the artist's name for a list of it's members. </p>
      <p>Press the "Details" button next to each song to access the page for that particular song. There you will find the lyrics for the song, as well as an official music video from YouTube. Press the heart symbol (<i class="far fa-heart"></i>)
        next to the song title to add it to your list of favorites, press it again to remove it.</p>
      <p>You can see a list of your favorite songs on your profile page, along with your account information, and options to change your password or delete your account.</p>
      <p>And that's about it. Look forward to more songs being added in the future, and we hope you will enjoy your time here at Melody~!</p>
      <p>&copy; Paco Hung</p>
    </div>
  </div>
</div>
{% endblock %}
