<!--Form to change a user's password-->
{% extends 'template.html' %}
{% block title %}Change Password{% endblock %}

{% block content %}
<div class="container">
  <div class="card" style="color: black">
    <div class="card-header">
      <h4>Want to change your password?</h4>
    </div>
    <div class="card-body">
      <form action="" method="POST">
        <div class="form-group">
          <label>Old password:</label>
          <input type="password" name="oldpass" class="form-control" value="{{ request.form.oldpass }}">
        </div>
        <div class="form-group">
          <label>New password:</label>
          <input type="password" name="newpass" class="form-control" value="{{ request.form.newpass }}">
        </div>
        <button type="Submit" class="btn btn-success">Update password</button>
      </form>
    </div>
  </div>
</div>
{% endblock %}
