<!--Form for new users to reigster an account-->
{% extends 'template.html' %}
{% block title %}Register New User{% endblock %}

{% block content %}
<div class="container">
  <div class="card" style="color: black">
    <div class="card-header">
      <h4>Please input your information</h4>
    </div>
    <div class="card-body">
      <h5>* fields are required</h5>
      {% from "includes/_formhelpers.html" import render_field %}
      <form method="POST">
        <dl>
          {{ render_field(form.username, class="form-control") }}
          {{ render_field(form.password, class="form-control") }}
          {{ render_field(form.confirmpass, class="form-control") }}
          {{ render_field(form.email, class="form-control") }}
          {{ render_field(form.firstname, class="form-control") }}
          {{ render_field(form.lastname, class="form-control") }}
        </dl>
        <p><input class="btn btn-success" type="submit" value="Register"></p>
      </form>
    </div>
  </div>
</div>
{% endblock %}
